[Desktop Entry]
Type=Application
Name=Arduino IDE
GenericName=Arduino IDE
Comment=Open-source electronics prototyping platform
Exec=arduino
Icon=com.arduino.App
Terminal=false
Categories=Development;IDE;Electronics;
